<!-- footer.component.html -->
<footer class="p-16" style="background-color: #F6EFE8;">
  <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-20">
    <div style="background-color: #B91C1C" class="text-white p-8 rounded-2xl">
      <h2 class="text-2xl font-bold">EasyOrder</h2>
      <p class="text-xs mt-1 tracking-wider">FOOD & RESTAURANT</p>
      <div class="mt-12">
        <p>Monday – Saturday: 12:00pm – 23:00pm</p>
        <p class="mt-6 underline font-light">We are Closed on Sunday</p>
      </div>
      <p class="mt-12 text-sm">5 stars rated on TripAdvisor</p>
    </div>

    <div>
      <div class="inline-block">
        <h2 class="text-xl font-bold">Menu</h2>
        <div style="background-color: #A93528; height: 2px; margin-top: 8px;"></div>
      </div>
      <nav class="flex flex-col space-y-4 mt-8">
        <a href="#" class="hover:text-red-800">
          <span class="text-lg mr-2">›</span>
          Steaks
        </a>
        <a href="#" class="hover:text-red-800">
          <span class="text-lg mr-2">›</span>
          Burgers
        </a>
        <a href="#" class="hover:text-red-800">
          <span class="text-lg mr-2">›</span>
          Coctails
        </a>
        <a href="#" class="hover:text-red-800">
          <span class="text-lg mr-2">›</span>
          Bar B Q
        </a>
        <a href="#" class="hover:text-red-800">
          <span class="text-lg mr-2">›</span>
          Desserts
        </a>
      </nav>
    </div>

    <div>
      <div class="inline-block">
        <h2 class="text-xl font-bold">Newsletter</h2>
        <div style="background-color: #A93528; height: 2px; margin-top: 8px;"></div>
      </div>
      <p class="mt-8 text-gray-700">Get recent news and updates.</p>
      <div class="mt-4">
        <input
          type="email"
          placeholder="Email Address"
          class="w-full p-3 rounded-lg border-gray-200 focus:outline-none"
        >
        <div class="relative inline-block mt-4">
          <button
            type="submit"
            class="px-8 py-2 bg-red-800 text-white font-medium rounded-lg relative"
          >
            Subscribe
          </button>

          <div
            class="absolute inset-y-0 -left-1 w-full h-full border border-white rounded-lg"
            style="clip-path: inset(0px 0px 0px 4px);"
          ></div>

          <div
            class="absolute border rounded-lg inset inset-y-0 w-full" >
        </div>
      </div>

    </div>
    </div>
  </div>
</footer>
