/* Animations pour les transitions */
.transition-colors {
    transition: all 0.3s ease;
}

/* Style pour les images au survol */
img {
    transition: transform 0.2s ease;
}

img:hover {
    transform: scale(1.05);
}

/* Style pour les boutons de quantité */
button:focus {
    outline: none;
    ring: 2px;
    ring-color: rgb(153, 27, 27);
}
